/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 6, 2019, 2:17:28 PM
    Author     : Marques
*/
p.error{
    color: red;
    font-size: 8px;
}
body {
    font-family: impact;
    background-color: lightgreen;
    border: 2px solid white; /*puts  a border around the text*/
    margin: 30px;
    padding: 15px;
}
h1 {
    color: darkcyan;
}
p {
    color: white;
}
div {
   font-size: 10px; 
}
a:link{
    color: beige;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: bisque;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: bisque;
    background-color: transparent;
    text-decoration: underline;
}
a:active{
    color:black;
    background-color: transparent;
    text-decoration: buttonshadow;
}
table, th, td {
  border: 1px solid black;
}
ul {
    list-style-type: none; /*can be circle disk or square*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
.navigationInfo {
  background-color: black;
  color: white;
  margin: 20px;
  padding: 20px;
  font-family: courier;
}
iframe{
    border: none;
    color: #beeeef;
}

